/* SELECTED */
.selected {
    background: #F7E598 !important;
}

/* HIDE */
.hide {
    display: none !important;
}

/* IMAGE BOX */
.image-box {
    height: auto !important;
    border: none;
}

/* INPUT TEXT */
.input-text {
    height: auto;
    background: none;
}

.input-text:hover {
    background: none;
}

.input-text .input-box {
    border-bottom: 2px solid #ccc;
}

/* SHOW LINE */
.show-line {
    background: repeating-linear-gradient(-45deg, #F7E598, #F7E598 10px, #fff 0, #fff 20px) !important;
}
