/* COMMON */
.body__container {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

/* SECTION */
.section {
    position: relative;
}

.section:nth-child(2n + 1) {
    background: rgba(180, 180, 180, .1);
}

.section .container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

/* FONT */
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* TAG INITIALIZE */
a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

/* BUTTON */
.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* INPUT */
.input-box {
    width: 100%;
    border: 0;
    background: none;
    font-size: 16px;
}

.input-box:focus {
    outline: none;
}

/* VENDOR PREFIX */
.input-box::-webkit-input-placeholder {
    color: #aaa;
}

.input-box::-ms-input-placeholder {
    color: #aaa;
}

.input-box::-moz-input-placeholder {
    color: #aaa;
}

/* BOX & TEXT */
.box {
    background: #c7caf7;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #333;
    box-sizing: border-box;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
}

.box:hover {
    background: #F7E598;
}

.text {
    height: 20px;
    border-radius: 8px;
    background: #6F6FAB;
    cursor: text;
}

.text:hover {
    background: #D7A7BA
}

.title {
    width: 200px;
    margin-bottom: 50px;
}

/* HEADER */
header.section .header__top {
    height: 80px;
    position: relative;
}

header.section .header__top .logo {
    width: 150px;
    height: 30px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

header.section .header__top .search-area {
    position: relative;
    height: 30px;
}

header.section .header__top .search-area .btn--search {
    width: 25px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: 1;
}

#search-form {
    border-radius: 10px;
    padding: 3px 7px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    right: 0;
}

header.section .main-menu-area {
    padding: 15px 0;
}

header.section .main-menu-area .menu-container .menu__main {
    position: relative;
}

header.section .main-menu-area .menu-container .menu__main .sub-container {
    width: 100%;
    border-radius: 10px;
    background:rgb(180, 180, 180);
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    padding: 20px 10px;
    box-sizing: border-box;
}

header.section .main-menu-area .menu-container .menu__main .sub-container::before {
    width: 10px;
    height: 10px;
    display: block;
    content: "";
    background:rgb(180, 180, 180);
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 50%;
}

header.section .main-menu-area .menu-container .menu__main .sub-container .menu__sub {
    height: 30px;
    line-height: 30px;
}

/* BANNER */
.section__banner .image-slide {
    height: 500px;
}

.section__banner .image-slide {
    width: 0;
    min-width: 100%;
    overflow: hidden;
}

.section__banner .image-slide .banner__image-container {
    max-width: 1280px;
}

.section__banner .arrow {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .3;
}

.section__banner .arrow:hover {
    opacity: 1;
}

.section__banner .btn--left {
    left: 0;
}

.section__banner .btn--right {
    right: 0;
}

.section__banner .dot-button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.section__banner .dot-button-container .btn--dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(180, 180, 180);
}

/* SUMMARY */
.section__summary,
.section__service {
    padding: 50px 0;
}

.section__summary .summary__card .summary__image {
    height: 250px;
}

/* SERVICE */
.section__service .service__card .service__image--short {
    height: 250px;
}

.section__service .service__card .service__image--long {
    height: 400px;
}

/* FOOTER */
footer.section {
    padding: 30px 0;
    background: rgba(180, 180, 180, .5);
    color: #999;
}

footer.section .footer__image .thumbnail {
    padding: 0;
}

footer.section .footer__contact .license a {
    color: #999;
}

footer.section .footer__contact .license a:hover {
    text-decoration: underline;
}

footer.section .footer__contact .license strong {
    color: #333;
}

footer.section .footer__contact .sns__container .sns {
    padding: 0;
}