/* COMMON */
.body__container {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

/* SECTION */
.section {
    position: relative;
}

.section:nth-child(2n + 1) {
    background: rgba(180, 180, 180, .1);
}

.section .container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

/* FONT */
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* TAG INITIALIZE */
a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    display: block;
}

/* BUTTON */
.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* INPUT */
.input-box {
    width: 100%;
    border: 0;
    background: none;
    font-size: 16px;
}

.input-box:focus {
    outline: none;
}

/* VENDOR PREFIX */
.input-box::-webkit-input-placeholder {
    color: #aaa;
}

.input-box::-ms-input-placeholder {
    color: #aaa;
}

.input-box::-moz-input-placeholder {
    color: #aaa;
}

/* LAYOUT CONTROLER */
.section__layout .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__layout .layout__controler {
    height: 100%;
}

.section__layout .layout__controler .controler__items {
    width: 80px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.section__layout .layout__controler .controler__items.active {
    border-bottom: 5px solid #6F6FAB;
    color: #6F6FAB;
    font-weight: bold;
}

/* BOX & TEXT */
.box {
    background: #c7caf7;
    border-radius: 20px;
    border: 5px solid #333;
    box-sizing: border-box;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.box:hover {
    background: #F7E598;
}

.text {
    height: 20px;
    border-radius: 8px;
    background: #6F6FAB;
    cursor: text;
}

.text:hover {
    background: #D7A7BA
}

.title {
    width: 200px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}

/* HEADER */
header.section .header__top {
    height: 80px;
    position: relative;
}

header.section .header__top .logo {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

header.section .header__top .search-area {
    position: relative;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
}

header.section .header__top .search-area .btn--search {
    width: 25px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    z-index: 1;
}

#search-form {
    width: 175px;
    padding: 3px 7px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

header.section .main-menu-area {
    padding: 15px 0;
}

header.section .main-menu-area .menu-container .menu__main {
    position: relative;
    text-align: center;
    font-weight: 700;
}

/* BANNER */
.section__banner .container {
    height: 0;
    padding-top: 39%;
}

.section__banner .image-slide {
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section__banner .image-slide {
    width: 0;
    min-width: 100%;
    overflow: hidden;
}

.section__banner .image-slide .banner__image-container {
    max-width: 1280px;
}

.section__banner .dot-button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.section__banner .dot-button-container .btn--dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(180, 180, 180);
}

/* SUMMARY */
.section__summary,
.section__service {
    padding: 50px 0;
}

.section__summary .summary__card .summary__image,
.section__service .service__card .service__image--short {
    height: 250px;
    max-height: 250px;
}

.section__summary .summary__card .summary__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* SERVICE */
.section__service .service__card .box {
    position: relative;
}

.section__service .service__card .service__image--long {
    height: 400px;
    max-height: 400px;
}

.section__service .service__card .box .service__title {
    width: 80%;
    position: absolute;
    top: 20px;
    left: 5%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */
footer.section {
    padding: 30px 0;
    background: rgba(180, 180, 180, .5);
    color: #999;
}

footer.section .footer__contact .license a {
    color: #999;
}

footer.section .footer__contact .license a:hover {
    text-decoration: underline;
}

footer.section .footer__contact .license strong {
    color: #333;
}

/* ENTER IMAGE */
.enter-image,
.font-selection-container {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 5px solid #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.enter-image .enter__top::after,
.font-selection-container::after,
.font-selection-container .selection__top::after {
    content: "";
    display: block;
    clear: both;
}

#input--image-url {
    width: 80%;
    padding: 15px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
}

.enter-image .btn--close,
.font-selection-container .btn--close {
    width: 30px;
    float: right;
}

.enter-image .show-image {
    width: 100%;
    min-height: 250px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.enter-image .show-image.preview {
    min-height: 0;
}

.enter-image .show-image .warning {
    max-width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 -1px 7px rgba(223, 65, 65, .6);
    background: #fff;
}

.enter-image .show-image .warning .warning__icon {
    margin-right: 15px;
}

.enter-image .show-image .warning .warning__icon svg {
    width: 30px;
    height: 30px;
}

.enter-image .btn--enter-image {
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    background: #F7E598;
    margin: 15px auto 0;
    display: block;
}

/* SELECT FONT */
.font-selection-container .selection__top {
    margin-bottom: 30px;
}

.font-selection-container .selection__top .selection__title {
    max-width: 310px;
    font-weight: 700;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-selection-container .font-selection {
    width: 45%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    line-height: 2;
    box-sizing: border-box;
    cursor: pointer;
}

.font-selection-container .font-selection:hover {
    background: #F7E598;
}

.font-selection-container .noto {
    float: left;
}

.font-selection-container .roboto {
    float: right;
}

.font-selection-container .font-selection .strong {
    font-weight: 700;
    font-size: 18px;
}

.font-selection-container .font-selection .thin {
    font-weight: 300;
    font-size: 14px;
}

/* STYLE BOX */
.tooltip {
    padding: 15px;
    border: 5px solid #333;
    background: #fff;
    border-radius: 10px;
    line-height: 1.5;
    display: inline-block;
    position: absolute;
}