/* COMMON */
.body__container {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

/* FONT */
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* TAG RESET */
a {
    text-decoration: none;
    color: #333;
}

/* img {
    width: 100%;
} */

/* BUTTON */
.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* INPUT */
.input-box {
    border: 0;
    background: none;
    font-size: 16px;
}

.input-box:focus {
    outline: none;
}

/* VENDOR PREFIX */
.input-box::-webkit-input-placeholder {
    color: #aaa;
}

.input-box::-ms-input-placeholder {
    color: #aaa;
}

.input-box::-moz-input-placeholder {
    color: #aaa;
}

.box {
    background: #c7caf7;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #333;
    box-sizing: border-box;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.box:hover {
    background: #F7E598;
}

.text {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .65);
}