/* FLEX */
/* HEADER */
.style--flex header.section .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.style--flex header.section .header__top .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.style--flex header.section .main-menu-area .menu-container {
    display: flex;
}

.style--flex header.section .main-menu-area .menu-container .menu__main {
    flex: 1;
}

/* SUMMARY */
.style--flex .section__summary .container .summary__content-box {
    display: flex;
}

.style--flex .section__summary .summary__card {
    flex: 1;
}

/* SERVICE */
.style--flex .section__service .service__content-box {
    display: flex;
}

.style--flex .section__service .service__card {
    flex: 1;
}

/* FOOTER */
.style--flex footer.section .container {
    display: flex;
    justify-content: space-between;
}

.style--flex footer.section .footer__right {
    display: flex;
}

.style--flex footer.section .footer__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.style--flex footer.section .footer__contact .sns__container {
    display: flex;
    justify-content: flex-end;
}