/* CLEARFIX */
.style--float .container::after,
.style--float .header__top::after,
.style--float .menu-container::after,
.style--float .footer__right::after,
.style--float .footer__image::after,
.style--float .sns__container::after,
.style--float .footer__contact::after {
    display: block;
    content: "";
    clear: both;
}

/* HEADER */
.style--float header.section .header__top {
    position: relative;
}

.style--float header.section .header__top .btn--nav {
    margin-top: 13px;
    float: left;
}

.style--float header.section .header__top .logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.style--float header.section .header__top .search-area {
    margin-top: 22.5px;
    float: right;
}

.style--float header.section .main-menu-area .menu-container .menu__main {
    width: 224px;
    float: left;
}

/* BANNER */

/* SUMMARY */
.style--float .section__summary .summary__card {
    width: 400px;
    float: left;
}

/* SERVICE */
.style--float .section__service .service__card {
    width: 400px;
    float: left;
}

/* FOOTER */
.style--float footer.section .footer__info {
    float: left;
}

.style--float footer.section .footer__right {
    float: right;
}

.style--float footer.section .footer__image {
    float: left;
}

.style--float footer.section .footer__image .thumbnail {
    float: left;
}

.style--float footer.section .footer__image .thumbnail:nth-child(2n + 1) {
    margin-right: 10px;
}

.style--float footer.section .footer__image .thumbnail:first-child,
.style--float footer.section .footer__image .thumbnail:nth-child(2) {
    margin-bottom: 10px;
}

.style--float footer.section .footer__contact {
    float: left;
}

.style--float footer.section .footer__contact .sns__container {
    float: right;
}

.style--float footer.section .footer__contact .sns__container .sns {
    float: left;
}