/* FLOAT */
/* CLEARFIX */
.style--float .header__top::after,
.style--float .menu-container::after,
.style--float .summary__content-row::after,
.style--float .service__content-row::after,
.style--float footer.section .container::after,
.style--float .footer__right::after,
.style--float .footer__image::after,
.style--float .sns__container::after,
.style--float .footer__contact::after {
    display: block;
    content: "";
    clear: both;
}

/* HEADER */
.style--float header.section .header__top .btn--nav {
    width: 50px;
    margin-top: 13px;
    float: left;
}

.style--float header.section .header__top .search-area {
    margin-top: 22px;
    width: 200px;
    float: right;
}

.style--float header.section .main-menu-area .menu-container .menu__main {
    margin-right: 3.125%;
    width: 17.5%;
    float: left;
}

.style--float header.section .main-menu-area .menu-container .menu__main:last-child {
    margin-right: 0;
}

/* BANNER */

/* SUMMARY */
.style--float .section__summary .summary__card,
.style--float .section__service .service__card {
    width: 31.25%;
    float: left;
    margin-right: 3.125%;
}

.style--float .section__summary .summary__card:last-child,
.style--float .section__service .service__card:last-child {
    margin-right: 0;
}

.style--float .section__summary .summary__card .summary__image {
    margin-bottom: 30px;
}

/* SERVICE */
.style--float .section__service .service__card .box:first-child {
    margin-bottom: 20px;
}

/* FOOTER */
.style--float footer.section .footer__info {
    width: 500px;
    float: left;
}

.style--float footer.section .footer__info .info__items {
    margin-bottom: 20px;
}

.style--float footer.section .footer__info .info__items:last-child {
    margin-bottom: 0;
}

.style--float footer.section .footer__right {
    float: right;
}

.style--float footer.section .footer__image {
    width: 210px;
    height: 210px;
    margin-right: 80px;
    float: left;
}

.style--float footer.section .footer__image .thumbnail {
    width: 100px;
    height: 100px;
    float: left;
}

.style--float footer.section .footer__image .thumbnail:nth-child(2n + 1) {
    margin-right: 10px;
}

.style--float footer.section .footer__image .thumbnail:first-child,
.style--float footer.section .footer__image .thumbnail:nth-child(2) {
    margin-bottom: 10px;
}

.style--float footer.section .footer__contact {
    float: left;
}

.style--float footer.section .footer__contact .license {
    margin-bottom: 20px;
}

.style--float footer.section .footer__contact .sns__container {
    float: right;
}

.style--float footer.section .footer__contact .sns__container .sns {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.style--float footer.section .footer__contact .sns__container .sns:last-child {
    margin-right: 0;
}